<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IndividualLoginExample.BizObjects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <IndividualLoginExample.BizObjects.Properties.Settings>
      <setting name="PasswordMustContainNumericCharacter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswordMinimumCharacterLength" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="PasswordMustContainLowercaseLetter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswordMustContainUppercaseLetter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PasswordMustContainSpecialCharacter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccountLockoutDurationInMinutes" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="NumberOfLoginAttempts" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="DontAllowLastNumberOfPasswords" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="PermittedSessionIdleTimeInMinutes" serializeAs="String">
        <value>15</value>
      </setting>
    </IndividualLoginExample.BizObjects.Properties.Settings>
  </applicationSettings>
</configuration>